        <div class="widget-search">
          <div class="site-search-area">
            <form method="GET" id="site-searchform" action="/courses">
              <div>
                <input
                  class="input-text form-control"
                  name="search"
                  id="search-k"
                  placeholder="Search"
                />
                <button id="searchsubmit" value="Search" type="submit" />
              </div>
            </form>
          </div>
        </div>